* {
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
}

.card {
    position: relative;
    width: 350px;
    height: 500px;
    background-color: #555;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    transform-style: preserve-3d;
}

.card::before, .card::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    transition: transform 0.3s;
    pointer-events: none;
}

.card::before {
    top: 0;
    left: 0;
    transform-origin: top left;
}

.card::after {
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
}

.card:hover::before {
    transform: perspective(1000px) rotateX(15deg) rotateY(-15deg);
}

.card:hover::after {
    transform: perspective(1000px) rotateX(-15deg) rotateY(15deg);
}

.card .content {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, 100%); */
    text-align: center;
    transform-style: preserve-3d;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

.card:hover .content {
    opacity: 1;
    transform: translate(-50%, -50%);
}

button {
    height: 5.5vmin;
    width: 25vmin;
    border-radius: 20px;
    border: none;
    font-size: 2.8vmin;
    background-color: #fff;
    color: #111;
}

h2, p, button {
    margin: 3vmin 0;
}
